<div class="container">
<section class="row profile">

    <div class="col-lg-4 pic-and-buttons" >
      <img ng-src="{{ profile.user.image_src }}" alt="{{profile.user.username}}">
    </div>

    <div class="col-lg-8 ">
      <div class="col-lg-12  info">
        <p>Username:  <span>{{profile.user.name}}</span></p>
        <p>Email:  <span>{{profile.user.email}}</span></p>
        <button class ="butt btn-1 btn-1e" ui-sref="profileEdit({id: main.profilePageId})">Edit profile</button>
        <button class ="butt btn-1 btn-1f" ng-click="profile.delete()">Delete Profile</button>
      </div>


    <div class="col-lg-6 col-md-6 projects">
        <h3 class="head head1">Your projects</h3>
        <ul>
          <li ng-if="project.user.id === profile.user.id" ng-repeat="project in profile.projects">
            <a ui-sref="projectsShow({ id: project.id })">{{project.title}}</a>
          </li>
        </ul>
    </div>

    <div class="donations col-lg-6 col-md-6 donations">
        <h3 class="head">Your donations</h3>
        <ul>
          <li ng-if="donation.user.id === profile.user.id" ng-repeat="donation in profile.donations">
              <a ui-sref="projectsShow({ id: project.id })">{{donation.project.title}}</a> - £{{donation.amount}} donated
          </li>
        </ul>
    </div>
    </div>

</section>
</div>
