<div class="container">

<section class="index">

<h3> List of Projects: </h3>
<div class="row">

<div class="col-lg-9 col-md-9">
<ul>
  <li class="col-lg-4 col-md-4" ng-repeat="project in projectsIndex.filtered">
    <div class="proj">
      <a ui-sref="projectsShow({ id: project.id })">
    <img ng-src="{{project.image_src}}">
      <h3>{{ project.title }}</h3></a>
      <span>{{project.category.name}}</span>
      <p>Target: £{{project.target_amount}}</p>
      <div class="col-lg-12">
    <div class="bar-border">
      <div id="bar"></div>
    </div>
  </div>
    <div class="col-lg-6">
      <p>end date: {{project.end_date}}</p>
    </div>
    <div class="col-lg-6">
       <span>{{project.percent}}% funded</span>
    </div>

    </div>
  </li>
</ul>
</div>

    <aside class="filters col-lg-3 col-md-3">

      <h5>Search projects</h5>
      <input type="text" class="search" ng-model="projectsIndex.q" placeholder="Search...">

      <h5>Category</h5>
      <select class="cata" ng-model="projectsIndex.category">
        <option selected value="">All</option>
        <option ng-repeat="category in projectsIndex.categories" ng-value="{{category.id}}">{{category.name}}</option>
      </select>
    </aside>
  </div>
</section>

</div>
