<section class="index">

<h3> List of Projects: </h3>
<div class="row">

<div class="col-lg-9">
<ul>
  <li class="col-lg-4" ng-repeat="project in projectsIndex.filtered">
    <div>
      <a ui-sref="projectsShow({ id: project.id })">
    <img ng-src="{{project.image_src}}">
    <h3>{{ project.title }}</h3></a>
      <p>{{project.percent}}% funded</p>
      <p>Target: £{{project.target_amount}}</p>
      <p>end date: {{project.end_date}}</p>
    </div>
  </li>
</ul>
</div>

    <aside class="filters col-lg-3">

      <h5>Search projects</h5>
      <input type="text" class="search" ng-model="projectsIndex.q" placeholder="Search...">

      <h5>Category</h5>
      <select class="cata" ng-model="projectsIndex.category.id">
            <option disabled selected>Please select</option>
            <option ng-repeat="category in projectsIndex.categories" ng-value="{{category.id}}">{{category.name}}</option>
          </select>
    </aside>
  </div>
</section>
