<div class="form-wrapper">


<h3>Login</h3>
<div class="form-style-4">

<form class="form-inline" ng-submit="login.login()" name="login.loginForm" novalidate>

      <div ng-show="login.loginForm.email.$touched &&(login.loginForm.email.$invalid)" ng-messages="login.loginForm.email.$error" role="alert">
        <div class="error" ng-message="required">Email is required </div>
        <div class="error" ng-message="pattern">Please enter a valid email.</div>
      </div>

      <div ng-messages="login.loginForm.password.$error" role="alert" ng-show="(login.loginForm.password.$touched)&&(login.loginForm.password.$invalid) ">
        <div class="error" ng-message="required">Password is required</div>
      </div>

  <div>
    <span>Email</span>
    <input class="form-group" type="text" name="email" ng-model="login.credentials.email" required>
  </div>

  <div>
    <span>Password</span>
    <input class="form-group" type="password" name="password" ng-model="login.credentials.password" required>
  </div>

  <button class="butt btn-2 btn-1g">Login</button>

</form>
  <button class="butt btn-5 btn-5a icon-github" ng-click="login.authenticate('github')"><span>Login with Github</span></button>
  <button class="butt btn-5 btn-5a icon-facebook" ng-click="login.authenticate('facebook')"><span>Login with Facebook</span></button>
</div>
</div>
