
<section>
<h1>Register</h1>

    <form ng-submit="login.register()">
      <div>
        <label>Username</label>
        <input type="text" ng-model="login.user.name">
      </div>

      <div>
        <label>Email</label>
        <input type="text" ng-model="login.user.email">
      </div>

      <div class="form-group">
        <label for="base64">Image</label>
        <input type="file" base64 name="base64" id="base64" ng-model="login.user.base64">
      </div>

      <div>
        <label>Password</label>
        <input type="password" ng-model="login.user.password">
      </div>

      <div>
        <label>Password Confirmation</label>
        <input type="password" ng-model="login.user.password_confirmation">
      </div>

      <button>Register</button>
    </form>
</section>
