// ======== nav bar ==========
nav {
  position: fixed;
  font-family: 'Inconsolata', monospace;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 201;
  ul {
    background-color: rgba(0,0,0,0.5);
    margin: 0;
    padding: 0;
    height: 50px;
    padding: 0 100px !important;
      li {
        color:#d6927f;
        list-style: none;
        line-height: 50px;
        float: right;
        padding-left: 15px;
        &.logo {
          float: left;
          padding: 0;
          h1 {
            margin: 0;
            padding: 0;
            line-height: 53px;
          }
        }
        &.menu-icon {
          display: none;
          cursor: pointer;
        }
        a {
          color:white;
          display: inline;
          font-size: 18px;
          display: block;
          z-index: 11;
          &:hover{
            color:#d6927f;
          }
        }
      }

  }
}

.nav-extension {
  width: 100%;
  background-color: rgba(300,300,300,0.9);
  position: fixed;
  top: 47px;
  left: 0;
  z-index: 10;
  margin-bottom: 50px;
  height: 70px;
  h1{
    margin-left: 100px;
    padding-left: 140px;
    margin-top: 30px;
  }
}

//========== Form styles ============

.form-wrapper{
  font-family: 'Dosis', sans-serif;
  margin-left: 12%;
  margin-bottom: 20px;
  .error{
    color: #d6927f;
    padding: 5px;
  }
  h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: bold;
  }
}


.form-group{
  width:100%;
  span{
    border-bottom: 3px solid #d6927f;
    font-size: 25px;
  }
  small{
    color:  #d6927f;
    margin-bottom: 20px;
  }
  input[type=file] {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.form-style-4{
    width: 80%;
    font-size: 16px;
    background: white;
    padding: 30px 30px 15px 30px;
    border: 5px solid #d6927f;
}

.form-style-4 input[type=date],
.form-style-4 select{
  padding-left:2%;
  margin: 3%;
  box-sizing: border-box;
  border: 3px solid #ccc;
  width: 40%;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=number],
.form-style-4 input[type=button],
.form-style-4 input[type=password],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 label
{
    width: 100%;
     padding: 12px 20px;
     margin: 20px 0;
     box-sizing: border-box;
     border: 3px solid #ccc;
     -webkit-transition: 0.5s;
     transition: 0.5s;
     outline: none;

}
.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 input[type=password],
.form-style-4 input[type=number]
{
    width: 100%;
     padding: 12px 20px;
     box-sizing: border-box;
     border: 3px solid #ccc;
     -webkit-transition: 0.5s;
     transition: 0.5s;
     outline: none;
}
.form-style-4 textarea{
  width: 100%;
  height: 300px;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
   border: 3px solid #ccc;
   -webkit-transition: 0.5s;
   transition: 0.5s;
   outline: none;
}
.form-style-4 textarea:focus{
     border: 3px solid #555;
}

.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus,
.form-style-4 input[type=number]:focus,
.form-style-4 input[type=password]:focus,
.form-style-4 input[type=date]:focus
{
     border: 3px solid #555;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}


//====Landing page styles =======

.parallax{
  opacity: 0.65;
  margin-top: -120px;
  height: 700px;
  width: 100%;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.content{
  height:50%;
  background-color:white;
  text-align: center;
  p{
    padding: 15px;
    font-size:20px;
    font-family: 'Dosis', sans-serif;
  }
  h2{
    font-family: 'Open Sans Condensed', sans-serif;
  }
}

.parallax2{
  opacity: 0.65;
  height: 700px;
  width: 100%;
  background-image: url("cow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.content2{
  color:white;
  height:55%;
  margin-top: -20px;
  background-color:rgba(0,0,0,0.8);
  text-align: left;
  p{
    padding: 15px;
    font-size:20px;
    font-family: 'Dosis', sans-serif;
  }
  h2{
    padding-top: 20px;
    padding-left: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
  }
}

.parallax3{
  opacity: 0.65;
  height: 700px;
  width: 100%;
  background-image: url("https://media.giphy.com/media/paMdZlRXlc96o/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.content3{
  color:white;
  height:40%;
  margin-top: -20px;
  background-color:rgba(0,0,0,1);
  text-align: center;
  p{
    padding: 15px;
    font-size:20px;
    font-family: 'Dosis', sans-serif;
  }
}

// =====================================

main{
  padding-top: 120px;
}


.infobtn{
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.show{
  margin-bottom: 100px;
  .buttons{
    margin-top: 20px;
  }
  .showmid{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    .sidebar{
      background-color: lightgrey;
      height:500px;
    }
    iframe{
      height:500px;
      width:100%;
    }
  }
  .brief{
    padding-top: 20px;
  }
  .topshow{
    border-bottom: 2px solid black;
    h1{
      text-transform: uppercase;
      font-size: 70px;
      line-height: 120px;
      color: tomato;
      font-family: 'Yanone Kaffeesatz', sans-serif;
    }
    p{
      text-align: center;
    }
    img{
      height:100%;
      width:100%;
      border-radius: 50%;
    }
  }
}

.bar-border{
  background: #f5f5f5;
  margin-top: 20px;
   border: 1px solid black;
  // border-radius: 10px;
  height:20px;
  width: 100%;
}

#moving-amount{
  position: absolute;
  left:12px;
}

#bar{
  // border-right:2px solid black;
  // border-top-left-radius: 10px;
  // border-bottom-left-radius: 10px;
  height:16px;
  background-color:grey;
  width: 0;
  z-index: 2;
}

.bars{
  // border-right:2px solid black;
  // border-top-left-radius: 10px;
  // border-bottom-left-radius: 10px;
  height:16px;
  background-color:grey;
  width: 0;
  z-index: 2;
}

// ==================== Project index =========================
.index{
  padding-bottom: 8%;

  img{
    height:200px;
    width: 100%;
    max-height: 200px;
  }
  ul{
    list-style: none;
    li{
      .proj{
        border: 1px solid black;
      }
      span{
        padding-left: 5px;
        opacity: 0.6;
        &:hover{
            color:#d6927f;
        }
      }
      h3{
        color:black;
        padding-left: 5px;
        &:hover{
          text-decoration: underline;
        }
      }
      p{
        padding-left: 5px;
      }
    }
  }
}
//================== profile page======================

.profile{
   padding-bottom: 10%;
  img{
  height:320px;
  width:320px;
  padding: 10px;
  border: 1px solid black;
  }
  .info{
    p{
      padding-left: 20px;
      span{
        color: #d6927f;
      }
      font-size: 30px;
      font-family: 'Dosis', sans-serif;
    }
    color:white;
    height:200px;
    width:100%;
    background: grey;
    button{
      margin-top: 0;
      margin-left: 20px;
    }
  }
  ul{
    list-style: none;
    padding: 0;
    li{
      padding: 5px;
      font-size: 20px;
      border-bottom: 1px solid black;
      a{
        color:black;
        &:hover{
          color: #d6927f;
        }
      }
    }
  }
  .head{
    width:105%;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
    padding-bottom: 4px;
    border-bottom: 2px solid #d6927f;
  }
  .head1{
      width: 120%;
  }
}
//===================== button styles =======================

.butt {
  z-index: 11;
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 3% 10%;
	display: inline-block;
	margin: 3% 5%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.butt:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.butt:before {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.btn-1 {
	border: 3px solid #fff;
	color: #fff;
}

.btn-2 {
	border: 3px solid #ccc;
	color: black;
}

.btn-1e {
	overflow: hidden;
}

.btn-1e:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-1e:hover,
.btn-1e:active {
	color: #d6927f;
}

.btn-1e:hover:after {
	height: 260%;
	opacity: 1;
}

.btn-1e:active:after {
	height: 400%;
	opacity: 1;
}


.btn-1f {
	overflow: hidden;
}

.btn-1f:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.btn-1f:hover,
.btn-1f:active {
	color: #d6927f;
}

.btn-1f:hover:after {
	height: 260%;
	opacity: 1;
}

.btn-1f:active:after {
	height: 400%;
	opacity: 1;
}


.btn-1g {
	overflow: hidden;
}

.btn-1g:after {
	width: 101%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #ccc;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.btn-1g:hover,
.btn-1g:active {
	color: #555;
}

.btn-1g:hover:after {
	height: 75%;
	opacity: 1;
}

.btn-1g:active:after {
	height: 130%;
	opacity: 1;
}

.icon-github:before {
	content: url(github.png);
}

.icon-facebook:before {
	content: url(facebook.png);
  margin-top: 10px;
}


.btn-5 {
	background: #ccc;
	color: black;
	height: 70px;
	min-width: 260px;
	line-height: 24px;
	font-size: 16px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.btn-5:active {
	background: #d6927f;
	top: 2px;
}

.btn-5 span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.btn-5:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2.5;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-5:active:before {
	color: #703b87;
}

.btn-5a:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.btn-5a:before {
	left: 0;
	top: -100%;
}

.btn-5a:hover:before {
	top: 0;
}
//===================Project index==================

.index{
  aside{
    font-family: 'Oxygen', sans-serif;
    h5{
      font-weight: bold;
    }
    input[type=text]:focus
    {
      border: 3px solid #555;
    }
    select{
      width:100%;
      height: 20px;
    }
    input{
     width: 100%;
     padding: 12px 20px;
     box-sizing: border-box;
     border: 3px solid #ccc;
     -webkit-transition: 0.5s;
     transition: 0.5s;
     outline: none;
    }
  }

}





//==============footer=======================
div.footer{
  z-index:5;
  background-color: rgba(20,20,20,0.6);
  height:50px;
  // padding: 10px 0;
  text-align: center;
  color:#d6927f;
  position:static;
  bottom: 0;
  width:100%;
  p{
    float:right;
    padding-top: 8px;
    padding-right: 30px;
    display:block;
    opacity: 0.7;
    height: 8px;
    font-size: 13px;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      float: left;
      margin-left: 20px;
      line-height: 40px;
      a {
        img {
          max-height: 30px;
          width: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  nav{
    z-index: 305;
    background: lightgrey;
    ul {
      padding: 0 20px !important;
      .dropdown {
        display: none;
        background-color: white;
        z-index: 305;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        padding: 20px;
        &.open {
          display: block;
          z-index: 305;
          border-bottom: 1px solid #d6927f;
        }
      }
      li {
        float: none;
        text-align: right;
        &.menu-icon {
          display: block;
        }
        a{
          color:black;
        }
      }
    }
  }
}


@media only screen and (max-width: 1040px) {
  .profile{
    img{
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
    .info{
      margin-top: 350px;
    }
  }

}

@media only screen and (max-width: 990px) {
.profile{
  .head{
    width:100%;
  }
}
}

@media only screen and (max-width: 660px) {
  .profile{
    .info{
      height:50%;
      p{
        font-size: 20px;
      }
    }
  }

}
